<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>TEDxKMUTT : Coming Soon</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
  <link rel="stylesheet" href="assets/vendor/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/style.css" charset="utf-8">
</head>
<body>
  <div id="main" class="container" ng-controller="renderText as text">
    <div class="c-lang">
      <button class="th" ng-click="text.lang('th')" ng-class="{active : text.isLang('th')}">TH</button>
      |
      <button class="en" ng-click="text.lang('en')" ng-class="{active : text.isLang('en')}">EN</button>
    </div>
    <div class="content">
      <div class="side-layer">
        <div class="row logo">
          <img src="assets/images/tedx_logo.png" alt="TEDxKMUTT">
        </div>
        <div class="row">
          <h1>{{text.content.coming}}</h1>
        </div>
        <div class="row">
          <p ng-bind-html="getHTML(text.content.fp)">
          </p>
          <p ng-bind-html="getHTML(text.content.sp)">
          </p>
          <p ng-bind-html="getHTML(text.content.tp)">
          </p>
        </div>
        <div class="row">
          <div class="buttons">
            <button class="btn btn-tedx">JOIN VOLUNTEER</button>
          </div>
          <div class="social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-envelope-o"></i></a>
            <div class="copyright">© <span ng-controller="date as years">{{year}}</span> TEDxKMUTT</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Javascript Zone -->
  <script type="text/javascript" src="assets/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/vendor/angular.min.js"></script>
  <script type="text/javascript" src="assets/vendor/angular-sanitize.min.js"></script>
  <!-- <script type="text/javascript" src="assets/js/protrator.js"></script> -->
  <script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>
